<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="nav">
      <a href="/">HOME</a>&nbsp; | &nbsp;
      <a href="/flights">Flights List</a>&nbsp; | &nbsp;
      <a href="/flights/new">Add Flight</a>&nbsp; | &nbsp;
    </nav>

    <h1 id="new-flight">
      <%= title %>
    </h1>
    